#service-cards {
 @include section-gap-normal;
 .service-card-title {
  @include section-title;
 }
 .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.5em;
  @include media-breakpoint-down(md) {
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, 1fr);
  }
  @include media-breakpoint-down(sm) {
   grid-template-columns: repeat(1, 70%);
   grid-template-rows: repeat(10, 1fr);
   justify-content: center;
  }
  .box {
   background-color: #ffffff;
   border: 1px solid #e5eaff;
   border-radius: 4px;
   box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
   padding: 30px;
   display: flex;
   flex-direction: column;
   transition: all 0.5s ease-in-out;
   row-gap: 1em;
   &:hover {
    border: 1px solid #22b78e;
    transition: all 0.5s ease-in-out;
   }
  }
 }
}
