$primary-color: #083871;
$secondary-color: #7db82d;
$white-color: #ffffff;
$white-color-light: #f2f2f2;
$black-color: #000000;
$black-color-light: #333333;

$text-color: #666666;
$yellow-color: #bf9e43;

.primary-color {
 color: $primary-color;
}

.secondary-color {
 color: $secondary-color;
}
